body{
    margin: 0px;
}

main{
    margin: 20px;
}

h1{
    text-align: center;
}

.navBar ul{
    list-style-type: none;
    background-color: rgb(78, 78, 78);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navBar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navBar a:hover{
    background-color: rgb(173, 173, 173);
}

.navBar li{
    float: left;
}