
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(232, 232, 232);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(47, 47, 47);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(67, 67, 67);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(80, 80, 80);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(93, 93, 93);
}

button:active{
    background-color: rgb(129, 129, 129);
}

.operator-btn{
    background-color: rgb(255, 145, 0);
}

.operator-btn:hover{
    background-color: rgb(255, 169, 57);
}

.operator-btn:active{
    background-color: rgb(255, 193, 113);
}