body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#clockFrame{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clockTime{
    backdrop-filter: blur(10px);
    background-color: hsla(0, 0%, 100%, 0.178);
    width: 100%;
    font-family: Impact;
    font-size: 6rem;
    color: white;
}